{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "fedora") -}}
#!/usr/bin/env bash

dnf_install_packages() {
  local packages=("$@")

  # Get all the packages already installed
  local installed
  # slower version: installed=$(dnf list --installed "${packages[@]}" 2>/dev/null | awk '{print $1}')
  installed=$(rpm --queryformat '%{NAME}\n' --query "${packages[@]}" 2>/dev/null)

  # Find missing packages
  local missing_packages=()
  for pkg in "${packages[@]}"; do
    if [[ ! "${installed}" == *"${pkg}"* ]]; then
      missing_packages+=("$pkg")
    fi
  done

  # Install missing packages if necessary
  if [ ${#missing_packages[@]} -gt 0 ]; then
    echo "Installing missing packages: ${missing_packages[*]}"
    sudo dnf install -y "${missing_packages[@]}"
  fi
}

# Configure repositories if defined
{{ if dig "packages" "linux" "dnf" "repositories" "" . }}
# Get current repository list
# slower version: installed_repos=$(dnf repolist | awk '{print $1}')
installed_repos=$(basename --suffix '.repo' --multiple $(grep --files-with-matches 'enabled=1' /etc/yum.repos.d/*.repo))

# Configure repositories
{{ range $id, $repo := dig "packages" "linux" "dnf" "repositories" dict . }}
if [[ ! "${installed_repos}" == *"{{ $id }}"* ]]; then
  echo "Installing missing repository: {{ $id }}"
  sudo dnf config-manager addrepo \
    --id='{{ $id }}' \
    {{ range $key, $value := $repo -}}
    --set={{ $key }}='{{ $value }}' \
    {{ end -}}
    ;
fi
{{ end -}}
{{ end -}}

dnf_install_packages {{ join " " .packages.linux.dnf.packages }}

{{ end -}}
