[Desktop Entry]
Name=Pulsar
Exec=pulsar --no-sandbox %U
Terminal=false
Type=Application
Icon=pulsar
StartupWMClass=Pulsar
Comment=A Community-led Hyper-Hackable Text Editor
Categories=Development;
